# Ignore virtual environments
venv/
.venv/

.vscode/

# Ignore all CSV files (too large for GitHub)
*.csv
!feature_importances.csv

# Ignore zipped files EXCEPT the engineered dataset
*.zip
!Feature_Engineered.zip

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
